.header-container {
    display: flex;
    flex-direction: row;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: navy;
}

.header-text  > h1 {
    margin: 0;
}

.header-text > h2 {
    margin: 0;
    font-weight: 100;
}

#logo {
    width: 133px;
    height: 133px;
}
